# Node.js の依存フォルダ（もしローカルで npm を使うなら）
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS 固有ファイル
.DS_Store
Thumbs.db

# エディタ／IDE 設定
.vscode/
.idea/

# 環境変数ファイル
.env

# 認証情報が含まれるファイル
.clasp.json

#ログファイル
*.log